#proyecto-artistico,
#los-inicios,
#obra-completa,
#realismo-figurativo,
#retratos,
#representaciones-de-la-naturaleza,
#realismo-abstracto,
#representaciones-de-la-naturaleza-que-insinuan-abstracciones,
#representaciones-abstractas-inspiradas-en-representaciones-de-la-realidad,
#representaciones-abstractas-y-geometricas,
#representaciones-mixtas-combinacion-de-elementos-abstractos-y-figurativos-reales,
#copias-de-pintores-reconocidos {
  scroll-margin-top: var(--ajm-space-xl);
}

.navbar {
  line-height: var(--ajm-line-height-lg);
}

.navbar ul {
  display: flex;
  flex-direction: column;
  /*  padding-left: 0; */
}

.navbar .list-item {
  border-bottom: 1px solid var(--ajm-dark-gray);
  transition-delay: 0.4s;
}

.navbar .list-item .active::after {
  content: " ▪︎";
  color: var(--ajm-dark-gray);
}

.navbar .list-item:hover {
  background-color: var(--ajm-accent);
  transition: all 0.4s ease;
  cursor: pointer;
}

.navbar .list-item > .link {
  display: block;
}

/* .link.active {
  background-color: var(--ajm-accent-hover);
} */

@media (max-width: 768px) {
  .navbar {
    line-height: var(--ajm-line-height-base);
  }
  .navbar .list-item {
    margin-left: 0;
  }
}
