.site-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: var(--ajm-space-lg);
  gap: var(--ajm-space-lg);
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--ajm-space-lg);
}

.nav-container {
  min-width: 66.6%;
  display: flex;
  flex-direction: column;
  gap: var(--ajm-space-lg);
}

@media (max-width: 1000px) {
  .site-header {
    flex-direction: column;
    gap: var(--ajm-space-2xl);
  }
  .nav-container {
    min-width: 100%;
  }
}
